[Oo]bj/
[Bb]in/
build/
TestResults/
.nuget/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.ncrunchproject
*.*sdf
*.ipch
*.sln.ide
*.orig
*.log
*.rdb
*.pd_
project.lock.json
/src/Sso.Api/.vs/config/applicationhost.config
/deploy/cloudformation.processed.json
/deploy/cloudformation.json
.vs/
.idea/
aws-lambda-tools-defaults.json
restore.dg

# ssl cert
*.crt